.formation {
  background-color: $black-3;
  color: $white;

  &__container {
    @include container;
    padding: 120px 20px;
    grid-template-columns: 2fr 1fr;
  }

  &__subtitle {
    color: $black;
    line-height: initial;
    align-self: flex-start;
    justify-self: end;

    rotate: 0deg;
  }

  &__description {
    align-items: flex-start;
    max-width: 40ch;
    font-size: rem(20);
    line-height: 1.3;
    margin-bottom: 60px;
    color: $gray-2;

    strong {
      color: $white;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
  }

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: $black;
    padding: 20px;
    border-radius: $border-radius-default;
  }

  &__type {
    font-size: rem(14);
    color: $gray-2;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__course {
    flex: 1;
    font-size: rem(18);
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 20px;
      background: $linear-gradient-blue;
      position: absolute;
      top: 3px;
      left: -24px;
    }
  }

  &__institution {
    font-size: rem(14);
    color: $gray-2;
    margin-bottom: 10px;
  }

  &__extra {
    margin-bottom: 60px;

    h3 {
      font-size: rem(14);
      line-height: 1.4;
      color: $gray-4;
      text-transform: uppercase;
      margin-bottom: 30px;
      margin-left: 24px;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        top: -3px;
        left: -32px;
      }
    }

    li {
      font-size: rem(18);
      line-height: 1.1;
      margin-bottom: 20px;

      span {
        color: $gray-2;
      }
    }
  }

  &__courses {
    margin-bottom: 30px;
    h3 {
      &::before {
        background: url("../../assets/img/formation-courses.svg") no-repeat
          center center;
      }
    }

    li {
      display: flex;
      justify-content: space-between;
    }
  }

  &__idiom {
    h3 {
      &::before {
        background: url("../../assets/img/formation-idiom.svg") no-repeat center
          center;
      }
    }
  }

  @media screen and (max-width: 800px) {
    &__container {
      grid-template-columns: 1fr;
      padding: 60px 20px;
      gap: 40px;

      h2 {
        order: -1;
        color: $white;
        writing-mode: inherit;
        rotate: inherit;
      }
    }

    &__description {
      font-size: rem(20);
    }
  }

  @media screen and (max-width: 420px) {
    &__courses,
    &__idiom {
      li {
        font-size: rem(14);
        line-height: 1.5;
      }
    }
  }
}
