.introduction {
  @include container;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  position: relative;
  margin-bottom: 60px;

  &__greeting,
  &__location {
    color: $gray-5;
    font-size: rem(18);
  }

  &__title {
    font-size: rem(72);
    line-height: 1.125;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  &__img {
    justify-self: end;
    width: 360px;
    border-radius: 100%;
  }

  @media (max-width: 1000px) {
    &__title {
      font-size: rem(56);
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    &__title {
      font-size: rem(40);
    }
  }

  @media (max-width: 720px) {
    display: flex;
    flex-direction: column;

    &__img {
      display: none;
    }
  }
}