* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: $black-3;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.subtitle {
  font-size: rem(128);
  writing-mode: vertical-rl;
  rotate: 180deg;

  @media (max-width: 800px) {
    font-size: rem(42);
    text-transform: capitalize;
  }
}
