// Geral
$container-width: 1200px;

@mixin container {
  max-width: $container-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 24px;
}

@function rem($pixel, $context: 16) {
  @return calc($pixel / $context)+rem;
}